/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Noot Jiro: Gemaakt door Jiro Ghianni */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    justify-content: space-between;
}

.three {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.three ul {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    /*align-items: stretch;*/
/*    Dit laatste is misschien de oplossing om de tussenruimte overal hetzelfde te maken?*/
}
.three li {
    list-style-type: none;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
    /* Het probleem hier is dat de LI-items geen gelijke afstand tot elkaar hebben, terwijl we dat juist wel willen. */
    /* op de een of andere manier lijkt flex-basis hier ALLEEN te werken als Shrink en Grow geset worden, maar de tussenruimte is niet goed, omdat de breedte van dee LI nu onafhankelijk is van de content, maar dit is niet de juiste oplossing. */
}

div.four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.four form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* stijlen voor Mobile-first, dus; eerst default stijlen, zonder media-query, voor kleine mobiele schermen daarna pas Media-Queries voor grotere schermen - ik weet niet of dit de juiste oplossing is */

.five {
    display: flex;
    flex-direction: column;
    /* column: default voor kleinste schermen */
    flex-wrap: wrap;
}
.five article {
    padding: 15px;
    flex-grow: 1;
    flex-shrink: 1;
}

/* Als je het browserscherm/window breder/smaller sleept dan zie je de veranderingen voor grotere schermen */

@media screen and (min-width: 500px) {
    .five {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
    }
    .five article {
        flex-basis: 400px;
    /*    dit zorgt er volgens mij voor dat het derde element naar de volgende row breekt bij smallere schemen */
    }
}
@media screen and (min-width: 1200px) {
    .five {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
    }
    .five article {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: initial;
        width: calc(33.3% - 30px);
            /* dit is mijn lelijke oplossing, betekent: maximaal 400px als breekpunt met padding die dit block verbreedt, 400-15-15 = 370 px */
    }
}