/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Noot Jiro: Gemaakt door Jiro Ghianni */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    justify-content: space-between;
}

.three {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.three ul {
    display: flex;
    justify-content: flex-start;
}
.three li {
    list-style-type: none;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 80px;
    /* op de een of andere manier lijkt flex-basis hier ALLEEN te werken als Shrink en Grow geset worden, maar de tussenruimte is niet goed. */
}

div.four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.four form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* stijlen voor Mobile-first, dus; eerst default stijlen voor kleine mobiele schermen daarna pas Media-Queries voor grotere schermen */

.five {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.five article {
    flex-basis: 400px;
    padding: 15px;
    flex-grow: 1;
    flex-shrink: 1;
}
@media screen and (min-width: 500px) {
    .five {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        /*align-items: flex-start;*/
        align-content: flex-start;
    }
}
@media screen and (min-width: 1150px) {
    .five {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        /*align-items: flex-start;*/
        align-content: flex-start;
    }
    .five article {
        flex-basis: initial;
        padding: 15px;
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(400px - 30px);
        /*    maximaal 400px als breekpunt, 400-15-15 = 370 px */
    }
}